# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/temporary files
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
Log/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Tt]est[Rr]esult.xml
*.VisualState.xml
TestResult.xml